body {
	background-color: #EAEAEA;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

/*-----------------------------
-------------Шапка-------------
------------------------------*/

.header {
	position: relative;
}

.logo {
	position: absolute;
	z-index: 0;
	width: 720px;
}



#widget, #widget li {
	margin: 0;
	padding: 0;
}

#widget {
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-top: -1%;
}

#widget li{
	display:inline-block;
	text-align: center;
	width: 20%;
}

#widget ul {
	padding-inline-start: 0;
}

#widget a {
	font-family: fontText1;
	display: block;
	color: #fff;
	font-size: 150%;
	text-decoration: none;
	background: #333333;
	margin-left: 3px;
	margin-right: 3px;
}

#widget a:hover {
	background: #f77472;
}





.guideList {
	position: fixed;
	bottom: 60%;
	right: 0;
	font-family: fontText1;
}

.dropbtn {
    background-color: #333333;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #f77472;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
	text-align: center;
    display: none;
    position: absolute;
    background-color: #E1E1E1;
    
    overflow: auto;
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
	background-color: #fcaeae;
}

.show {display: block;}

/*-----------------------------
--------Главная вкладка--------
------------------------------*/

.newProductsHome {
	display: flex;
}

.newProductHomeBlock {
	background-color: #a2a2d0;

	text-align: center;
	font-family: fontText1;
}

.titleSite {
	background-color: #f5f5f5;
	border-radius: 20px;
	margin-left: 10%;
	margin-right: 10%;
	padding: 1%;
	margin-bottom: 4%;
}

h4 {
	font-family: Pusia-Bold;
	text-align: center;
}

.linkNews {
	color: #F6444B;
}

.linkNews:hover {
	color: #fcaeae;
}

h2 {
	text-align: center;
	font-family: Pusia-Bold;
}

/*-----------------------------
------Вкладка с новинками------
------------------------------*/

.newProductTitle p {
	margin-left: 5%;
	margin-right: 5%;

	text-align: center;
	font-family: fontText1;
}

.newProductArticle {
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5%;
	padding: 1.5%;
	background-color: #f5f5f5;
	border-radius: 40px;
}

.newProductArticle h4 {
	font-family: Pusia-Bold;

	text-align: left;

	margin-left: 10%;
	margin-right: 10%;
}

.newProductText {
	font-family: fontText1;

	margin-left: 10%;
	margin-right: 10%;
}

.videoNewProduct {
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;

	position: relative;
  	padding-bottom: 45%;
  	height: 0;
  	overflow: hidden;
}

.videoNewProduct iframe {
	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	border-width: 0;
  	outline-width: 0;
}

/*-----------------------------
-------Вкладка с гайдами-------
------------------------------*/

.guide {
	margin-left: 10%;
	margin-right: 10%;
}
.guidesTitle {
	margin-left: 5%;
	margin-right: 5%;
}

.guideHome {
	margin-left: 5%;
	margin-right: 5%;


	background-color: #f5f5f5;
	
	border-radius: 30px;
	padding: 5%;
	margin-bottom: 4%;
}

.guideTitle {
	margin-left: 5%;
	margin-right: 5%;


	background-color: #f5f5f5;
	
	border-radius: 30px;
	padding: 1%;
	margin-bottom: 4%;
}

.guidesTitle h2 {
	margin-left: 5%;
	margin-right: 5%;
}

.guideHome p {
	margin-left: 2%;
	margin-right: 2%;
	font-family: fontText1;
}

.guideHome li {
	font-family: fontText1;
}

.guide h3 {
	font-family: Pusia-Bold;
	margin-top: 0;
	margin-left: 2%;
	margin-right: 2%;
}

.guideList button {
	border-radius: 20px 0 0 0;
}

.linkGuide {
	color: black;
}

h5 {
	font-family: Pusia-Bold;
	font-size: 1.3em;
}

h1 {
	font-family: Pusia-Bold;
	font-size: 2.4em;
	text-align: center;
}

/*-----------------------------
------Вкладка с новостями------
------------------------------*/

.news {
	padding-left: 5%;
	padding-right: 5%;

	font-family: fontText1;
}

.blog1 {
	background-color: #FA5D5B;
	color: white;
	border-radius: 20px;
	padding: 1.5%;
	margin-bottom: 5%;
	margin-left: 10%;
	margin-right: 10%;
}

.blog1 p {
	margin-left: 5%;
	margin-right: 5%;
}

.blog1 ul {
	padding-inline-start: 0;
}

.blog1 li {
	margin-left: 10%;
	margin-right: 10%;
}

.blog1 h3 {
	color: white;
	font-family: Pusia-Bold;

	margin-left: 5%;
	margin-right: 5%;
}

/*-----------------------------
------------Подвал--------------
------------------------------*/

.footer {
	background-color: #333333;

	text-align: center;
	padding-top: 1%;

	overflow: hidden;
}





/*-----------------------------
-------------Шрифты------------
------------------------------*/

@font-face {
	font-family: Title;
	src: url(../fonts/font1.otf);
}

@font-face {
	font-family: Pusia-Bold;
	src: url(../fonts/Ermilov-Bold.otf);
}

@font-face {
	font-family: fontText1;
	src: url(../fonts/21002.ttf);
}


/*-----------------------------
---Адаптация под разрешения----
------------------------------*/

@media (max-width: 1440px) {

	img {
		border-radius: 35px;
	}

/*-----------------------------
-------------Шапка-------------
------------------------------*/

	.logo {
		position: absolute;
		width: 40%;

		top: 30%;
		left: 30%;
	}

	.btnWidget a {
		padding: 1em;
	}

	#widget {
		margin-top: 0;
		margin-bottom: 1%;
	}

	#widget li{
		width: 20%;
	}

	#widget a {
		padding: 8px 15px;
		font-size: 200%;
		margin-right: 2.5%;
		margin-left: 2.5%;
		border-radius: 25px;
	}


	.guideList a {
		font-size: 1.3em;
	}

	.dropbtn {
    	font-size: 1.1em;
	}

/*-----------------------------
--------Главная вкладка--------
------------------------------*/

	.titleSite {
		border-radius: 35px;
	}

	.newProductsHome {
		
	}

	.newProductHomeBlock {
		font-size: 1.1em;
	}

	h4 {
		font-size: 1.4em;
	}

	.linkNews {
		color: #F6444B;
	}

	h2 {
		font-size: 2.8em;
	}

/*-----------------------------
------Вкладка с новинками------
------------------------------*/

	.newProductArticle {
		border-radius: 35px;
	}

	.newProductTitle p {
		font-size: 1.4em;
	}

	.newProductArticle h4 {
		font-size: 2.6em;
	}

	.newProductText {
		font-size: 1.6em;
	}

/*-----------------------------
-------Вкладка с гайдами-------
------------------------------*/

	.guidesTitle {
		font-size: 1.6em;
	}

	.guideTitle h2 {
		font-size: 2.4em;
		border-radius: 30px;
	}

	.guideTitle {
		border-radius: 35px;
	}

	.guideHome {
		font-size: 1.8em;
		border-radius: 35px;
	}

	.guideText {
		font-size: 1.6em;
	}

	h5 {
		font-size: 1.4em;
	}

/*-----------------------------
------Вкладка с новостями------
------------------------------*/

	.news {

	}

	.blog1 {
		font-size: 1.8em;
		border-radius: 35px;
	}

	.blog1 h3 {
		font-size: 1.6em;
	}

/*------------------------------
------------Подвал--------------
------------------------------*/

	.footer {
		
	}

}



@media (max-width: 1024px) {

	img {
		border-radius: 30px;
	}

/*-----------------------------
-------------Шапка-------------
------------------------------*/

	.logo {
		position: absolute;
		width: 40%;

		top: 30%;
		left: 30%;
		
	}

	#widget li{
		width: 20%;
	}

	#widget {
		margin-top: -0.5%;
		margin-bottom: 1%;
	}

	#widget a {
		padding: 5px 15px;
		font-size: 150%;
		margin-right: 2.5%;
		margin-left: 2.5%;
		border-radius: 20px;
	}


	.guideList a {
		font-size: 1em;
	}

	.dropbtn {
    	font-size: 0.9em;
	}


/*-----------------------------
--------Главная вкладка--------
------------------------------*/

	.newProductsHome {
		
	}

	.titleSite {
		border-radius: 30px;
	}

	.newProductHomeBlock {
		font-size: 0.9em;
	}

	h4 {
		font-size: 1.1em;
	}

	.linkNews {
		color: #F6444B;
	}

/*-----------------------------
------Вкладка с новинками------
------------------------------*/

	.newProductTitle p {
		font-size: 1em;
	}

	.newProductArticle h4 {
		font-size: 2em;
	}

	.newProductText {
		font-size: 1.3em;
	}

/*-----------------------------
-------Вкладка с гайдами-------
------------------------------*/

	.guidesTitle {
		font-size: 1.6em;
	}

	.guideTitle {
		border-radius: 30px;
	}

	.guideTitle h2 {
		font-size: 1.7em;
	}

	.guideHome {
		font-size: 1.2em;
		border-radius: 30px;
	}

	.guideText {
		font-size: 1em;
	}

	h5 {
		font-size: 1.6em;
	}

/*-----------------------------
------Вкладка с новостями------
------------------------------*/

	.news {
		
	}

	.blog1 {
		font-size: 1.2em;
		border-radius: 30px;
	}

	.blog1 h3 {
		font-size: 1.6em;
	}

	h2 {
		font-size: 2.2em;
	}

/*-----------------------------
------------Подвал--------------
------------------------------*/

	.footer {
	
	}

}



@media (max-width: 768px) {

	img {
		border-radius: 25px;
	}

/*-----------------------------
-------------Шапка-------------
------------------------------*/

	.logo {
		position: absolute;
		width: 40%;

		top: 30%;
		left: 30%;
	}

	#widget li{
		width: 20%;
	}

	#widget {
		margin-top: -1%;
		margin-bottom: 1%;
	}

	#widget a {
		padding: 4px 15px;
		font-size: 120%;
		margin-right: 2.5%;
		margin-left: 2.5%;
		border-radius: 20px;
	}


	.guideList a {
		font-size: 0.8em;
	}

	.dropbtn {
    	font-size: 0.7em;
	}

/*-----------------------------
--------Главная вкладка--------
------------------------------*/

	.newProductsHome {
		
	}

	.titleSite {
		border-radius: 25px;
	}

	.newProductHomeBlock {
		font-size: 1em;
	}

	h4 {
		font-size: 0.8em;
	}

	.linkNews {
		
	}

/*-----------------------------
------Вкладка с новинками------
------------------------------*/

	.newProductArticle {
		border-radius: 25px;
	}

	.newProductTitle p {
		font-size: 1em;
	}

	.newProductArticle h4 {
		font-size: 1.4em;
	}

	.newProductText {
		font-size: 0.9em;
	}

/*-----------------------------
------Вкладка с новостями------
------------------------------*/

	.blog1 {
		font-size: 1em;
		border-radius: 25px;
	}

	.blog1 h3 {
		font-size: 1.4em;
	}

	h2 {
		font-size: 1.7em;
		margin-left: 2%;
		margin-right: 2%;
	}

/*-----------------------------
-------Вкладка с гайдами-------
------------------------------*/

	.guideHome {
		font-size: 1em;
		border-radius: 25px;
	}

	.guideTitle {
		border-radius: 25px;
	}

	.guideHome h3 {
		font-size: 1.4em;
	}

	.guideText {
		font-size: 1.2em;
	}

	.guideTitle h2 {
		font-size: 1.6em;
	}

	h5 {
		font-size: 1.2em;
	}
}

/*-----------------------------
------------Подвал--------------
------------------------------*/

	.footer {
		
	}



@media (max-width: 425px) {

	img {
		border-radius: 20px;
	}

/*-----------------------------
-------------Шапка-------------
------------------------------*/

	.logo {
		position: absolute;
		width: 40%;

		top: 30%;
		left: 30%;
	}

	.btnWidget {
		font-size: 0.5em;
		padding-left: 10%;
	}

	#widget {
		margin-top: -2%;
		margin-bottom: 1%;
	}

	#widget li{
		width: 24%;
	}

	#widget a {
		padding: 3px 15px;
		font-size: 90%;
		margin-right: 2%;
		margin-left: 2%;
		border-radius: 15px;
	}

	.guideList a {
		font-size: 0.7em;
	}

	.dropbtn {
    	font-size: 0.6em;
	}

/*-----------------------------
--------Главная вкладка--------
------------------------------*/

	.titleSite {
		border-radius: 20px;
	}

	.newProductsHome {
		
	}

	.newProductHomeBlock {
		font-size: 0.7em;
	}

	h4 {
		font-size: 0.6em;
	}

	.linkNews {

	}



	.itcss__item p {
		font-size: 0.8em;
	}


/*-----------------------------
------Вкладка с новинками------
------------------------------*/

	.newProductTitle p {
		font-size: 0.7em;
	}

	.newProductArticle h4 {
		font-size: 1.4em;
	}

	.newProductArticle {
		border-radius: 20px;
	}

	.newProductText {
		font-size: 0.7em;
	}

/*-----------------------------
-------Вкладка с гайдами-------
------------------------------*/

	.guidesTitle {
		font-size: 1em;
	}

	.guideTitle {
		border-radius: 20px;
	}

	.guideHome {
		font-size: 0.9em;
		border-radius: 20px;
	}

	.guideHome h3 {
		font-size: 1.2em;
	}

	.guideText {
		font-size: 0.9em;
	}

	h5 {
		font-size: 1.2em;
	}

	.guideTitle h2 {
		font-size: 1.2em;
	}

/*-----------------------------
------Вкладка с новостями------
------------------------------*/

	.news {

	}

	.blog1 {
		font-size: 0.9em;
		border-radius: 20px;
	}

	.blog1 h3 {
		font-size: 1.2em;
	}

	h2 {
		font-size: 1.1em;
	}

/*-----------------------------
------------Подвал--------------
------------------------------*/

	.footer {
		
	}

}





@media (min-width: 1980px) and (max-width: 2560px) {

	img {
		border-radius: 55px;
	}

/*-----------------------------
-------------Шапка-------------
------------------------------*/

	.logo {
		position: absolute;
		width: 40%;

		top: 30%;
		left: 30%;
	}

	.btnWidget {
		font-size: 3.2em;
		padding-left: 10%;
	}

	#widget {
		margin-top: 0.5%;
		margin-bottom: 1%;
	}

	#widget li{
		width: 20%;
	}

	#widget a {
		padding: 9px 15px;
		font-size: 380%;
		margin-right: 3%;
		margin-left: 3%;
		border-radius: 45px;
	}

	.guideList a {
		font-size: 2.5em;
	}

	.dropbtn {
    	font-size: 2.3em;
	}

/*-----------------------------
--------Главная вкладка--------
------------------------------*/

	.titleSite {
		border-radius: 55px;
	}

	.newProductsHome {
		
	}

	.newProductHomeBlock {
		font-size: 2.5em;
	}

	h4 {
		font-size: 2.5em;
	}

	.linkNews {
		
	}

/*-----------------------------
------Вкладка с новинками------
------------------------------*/

	.newProductArticle {
		border-radius: 55px;
	}
	.newProductTitle p {
		font-size: 2.7em;
	}

	.newProductArticle h4 {
		font-size: 5em;
	}

	.newProductText {
		font-size: 3.2em;
	}

/*-----------------------------
-------Вкладка с гайдами-------
------------------------------*/

	.guidesTitle {
		font-size: 4.5em;
	}

	.guideTitle {
		border-radius: 55px;
	}

	.guideTitle h2 {
		font-size: 4.2em;
	}

	.guideHome h3 {
		font-size: 1.3em;
	}

	.guideHome {
		font-size: 3.5em;
		border-radius: 55px;
	}

	.guideText {
		font-size: 3em;
	}

	h5 {
		font-size: 3em;
	}

/*-----------------------------
------Вкладка с новостями------
------------------------------*/

	.news {

	}

	.blog1 {
		font-size: 3.5em;
		border-radius: 55px;
	}

	.blog1 h3 {
		font-size: 1.3em;
	}

	h2 {
		font-size: 5em;
	}

/*------------------------------
------------Подвал--------------
------------------------------*/

	.footer {
		
	}

}




@media (min-width: 1441px) and (max-width: 1979px) {

	img {
		border-radius: 45px;
	}

/*-----------------------------
-------------Шапка-------------
------------------------------*/

	.logo {
		position: absolute;
		width: 40%;

		top: 30%;
		left: 30%;
	}

	.btnWidget {
		font-size: 3.2em;
		padding-left: 10%;
	}

	#widget {
		margin-top: 0;
		margin-bottom: 1%;
	}

	#widget li{
		width: 20%;
	}

	#widget a {
		padding: 7px 15px;
		font-size: 300%;
		margin-right: 3%;
		margin-left: 3%;
		border-radius: 35px;
	}

	.guideList a {
		font-size: 2.5em;
	}

	.dropbtn {
    	font-size: 2.3em;
	}

/*-----------------------------
--------Главная вкладка--------
------------------------------*/

	.titleSite {
		border-radius: 45px;
	}

	.newProductsHome {
		
	}

	.newProductHomeBlock {
		font-size: 2.5em;
	}

	h4 {
		font-size: 2em;
	}

	.linkNews {
		
	}

/*-----------------------------
------Вкладка с новинками------
------------------------------*/

	.newProductArticle {
		border-radius: 45px;
	}

	.newProductTitle p {
		font-size: 2em;
	}

	.newProductArticle h4 {
		font-size: 5em;
	}

	.newProductText {
		font-size: 2.5em;
	}

/*-----------------------------
-------Вкладка с гайдами-------
------------------------------*/

	.guidesTitle {
		font-size: 4.5em;
	}

	.guideTitle {
		border-radius: 45px;
	}

	.guideTitle h2 {
		font-size: 4.2em;
	}

	.guideHome h3 {
		font-size: 1.3em;
	}

	.guideHome {
		font-size: 2.7em;
		border-radius: 45px;
	}

	.guideText {
		font-size: 3em;
	}

	h5 {
		font-size: 1.5em;
	}

/*-----------------------------
------Вкладка с новостями------
------------------------------*/

	.news {

	}

	.blog1 {
		font-size: 2.7em;
		border-radius: 45px;
	}

	.blog1 h3 {
		font-size: 1.3em;
	}

	h2 {
		font-size: 4em;
	}

/*------------------------------
------------Подвал--------------
------------------------------*/

	.footer {
		
	}

}